# Introduction

* What you need to know about Jupyter notebooks?
    + Create, edit, rename, delete a new notebook.
    + Download and upload a notebook.
    + Know where your notebooks are on your computer.  They should be in COMP7150/MyLectureNotes.
    + Store the instructor's lecture notes in a separate folder, e.g. COMP7150/InstructorLectureNotes.

### Carpo
+ Carpo allows me/TA to help you during in-class exercises.
+ Student hub: http://141.225.10.176/  (this a server in my lab in Dunn Hall)
+ If you are at school (UoM), you don't need to use a VPN.
+ If you are at home, you will need a VPN (Cisco Anyconnect).
+ Almost all the time, you use this during class on ground, then there's no need for a VPN.

----

* Expectation
    + You will code in-class, along side with me.
    + It can be challenging to multi-task: listen, think, and code.
    + Do not skip lectures.
    + Ask questions if you are confused.
    + Reach out to me if you are not sure about my expectations.
    + Reach out to me if the course/instruction does not meet your expeactations in any way.
    + Reach out to me if you need assisstance.

### Today's learning goals

* Understand Anaconda
* Understand Jupyter Lab
* Understand Jupyter Notebooks
* Organize notebooks
* Edit notebooks

# A few technical things and concepts

+ Anaconda is a webapp that happens to run on your laptop.
+ Anaconda allows you to use Python, together with many useful scientific Python libraries.  
+ Jupyterlab is an app within Anaconda.
+ Jupyterlab has Jupyter notebooks.  A Jupyter notebook is a document that has Python code and regular texts.
+ Data scientists (and many others) use Jupyter notebooks extensively to write code and develop their ideas about how to solve problems.
+ In this course, we use Jupyter notebooks to write Python code, and explanations/thoughts about our code.

+ Computer Scientists are used to pure "programs" (Python files or Java files). These programs are written exclusively in a programming language (e.g. Python).

+ So, the idea that texts and code are mixed together within one document is not comfortable to many traditional coders.

* It's, however, extremely useful to be able to mix texts and code together in one document.

* We use documents (Python files, jupyter notebooks, etc.) to communicate with people and *ourselves*.

* And as programmers, you are actually bilingual.  You know Python and you know English. So in your head, you are thinking in both languages.  Each has specical unique constructs that are uniquely useful to capture ideas.

* So, it's very useful to be able to write in both languages in one document.

# Jupyter Notebooks

Learning objectives:
* Know how to use Jupyter lab and Jupyter notebooks
* Understand basic concepts about Jupyter notebooks.
    * Blocks
    * HTML, Markdown
    * Python

### What is a Jupyter Notebook and what is it for?

A traditional IDE is used to keep code, not regular text.

A Jupyter notebook is a "computational" notebook. It has both code and regular text.

A Jupyter notebook is a list of blocks.

Each block is either code (written in Python syntax) or regular text (written in Markdown syntax).

To view a block, i.e. see the true output of a block, you must "run" it.

---

My favorite fruits:
+ Apple
+ Orange
+ Grape
+ Strawberry

In [1]:
print('hello')

hello


this is Markdown.

In [2]:
# here is a Python block:
3*9+2 + 10 + 7 + 2520

2566

### Summary of key concepts

+ A juptyer notebook allows you to write code and texts.
+ Code is written in Python syntax.
+ Texts are written in Markdown syntax, which allows to format nicely, headers, lists, etc.

## This is a second-level header

First-level headers have the largest font size.

This is a list (prefixing a list with "+" or "-" or "*":
- one
- two
- three

In [3]:
for x in [1,5,10]:
    print(x)

1
5
10

# Key concepts for Jupyter notebooks

+ Code block (Python) versus text block (Markdown)
+ Syntax for text blocks
    + Headings (#)
    + Lists (+ or - or *)
+ Syntax for code blocks
    + Python
+ How to execute a block
+ Keyboard shortcuts
    + Shift + Return -- execute block
    + Esc + M -- change block to Markdown (text)
    + Esc + Y -- change block to Python (code)

A jupyter notebook consists of a list of blocks.  Each block can be:

+ Raw -- no syntax
+ Markdown -- simplified HTML
+ Python -- code

In [2]:
# this is a code block (language is Python)
x=5
print(x)

5

In [2]:
5 + 10* 2

25

# Markdown

Markdown has simple syntax that allows you to specifiy:

+ Bold or italicized texts.
+ Headers
+ Lists (unordered or ordered)
+ Verbatim


**this is bold**

*this is italicized*

# This Is a Header (h1)

## This Is a second-level header (h2)

This is verbatim/quoted text

```
for x in L:
   print(x)

```

Regular HTML code will work too (I think, most of the time).

<a href="https://www.memphis.edu">U of M</a>

I think you can use most HTML tags:
+ a -- hyperlinks
+ img -- inline images

---

In [3]:
print('hello world')

hello world

### Summary

+ You should now undestand what Jupyter notebooks are and how to work with them.

+ Organize your notebooks effectively.  Do not use the Downloads folder to store your notebooks.

+ Create a subfolder in the Jupyter Lab root folder for COMP 7150.

### Quick Exercise

Create a new notebook.  In it, write a Python function to sum all numbers in a list of numbers.  And show that it works for this list below.

```
L = [1, 3, 5, 7, 9]
```

### Todo at home

+ Make sure you have Jupyter Lab up and running. Know how to work with Jupyter notebooks.

+ Bring a fully charged laptop with you next week.

+ Review Python.

In [7]:
import pandas
df = pandas.read_csv('../Datasets/tips.csv')

In [8]:
df

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]