# Python

To do:
+ VPN: https://www.memphis.edu/umtech/solutions/vpn.php
+ In-class exercises on JupyterHub: https://memphis.instructure.com/courses/114948/discussion_topics/504053
+ Python exercises: http://141.225.10.176/hub/login


Learning goals:
+ Understand basic Python concepts: Blocks, lack of semicolons and curly brackets, etc.
+ How to use basic data structures: list, tuple, set, dictionary.
+ How to use control structures: iterative and conditional.
+ How to define and invoke functions.

---

#### reading line by line of the data file:

In [2]:
with open('../Datasets/iris.csv') as fp:
    line = fp.readline()
    print(line)
    line = fp.readline()
    print(line)

SepalLength,SepalWidth,PetalLength,PetalWidth,Species

5.1,3.5,1.4,0.2,setosa

In [14]:
with open('../Datasets/iris.csv') as f:
    data=f.readlines()
    #print(data)
headers=data.pop(0).strip("\n")
#print(headers)
newdata=[]    
for item in data:
    temp=item.strip("\n")
    newdata.append(temp)
print(newdata[0:5])

['5.1,3.5,1.4,0.2,setosa', '4.9,3,1.4,0.2,setosa', '4.7,3.2,1.3,0.2,setosa', '4.6,3.1,1.5,0.2,setosa', '5,3.6,1.4,0.2,setosa']

In [16]:
with open('../Datasets/tips.csv') as fp:
    tipsdata= fp.readline().strip()
    header=tipsdata
    #print(header)
    #print(tipsdata)
    count=0
    days={}
    while tipsdata != "":
        tipsdata= fp.readline().strip()
        if tipsdata != "":
            row= tipsdata.split(",")
            row[0]= float(row[0])
            row[1]= float(row[1])
            row[-1]= int(row[-1])
            count+=1
            if row[4] not in days:
                days[row[4]]= row[0]
            else:
                days[row[4]]+=row[0]
            #print(row)
print(days)

{'"Sun"': 1627.1600000000003, '"Sat"': 1778.3999999999996, '"Thur"': 1096.3299999999997, '"Fri"': 325.87999999999994}

### THINK ABOUT THE RIGHT QUESTIONS
- How do the features affect the bill amount?
- What is the average toal bill for each day of the week?

In [20]:
import pandas as pd 

iris= pd.read_csv("../Datasets/iris.csv")
iris.sample(3)

     SepalLength  SepalWidth  PetalLength  PetalWidth     Species
95           5.7         3.0          4.2         1.2  versicolor
116          6.5         3.0          5.5         1.8   virginica
127          6.1         3.0          4.9         1.8   virginica

In [21]:
len(iris)

150

### how many species are there and their data points?

In [22]:
iris['Species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

In [24]:
iris['Species']

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object