## Data Processing:

In [2]:
import pandas as pd

tips= pd.read_csv("../Datasets/tips.csv")
tips.head(3)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3

In [3]:
from sklearn.cluster import KMeans
import seaborn

In [5]:
model = KMeans(n_clusters=3)
# features= tips.columns
# model.fit(features)

### converting categorical variable to numeric values

In [ ]:
# use dummies

#### Feature Rescaling:
 - normalizations
 - standardization