# Dataframes

Topics:
* Pandas
* Dataframes and series
* Selection: columns, rows by index versus by label, rows by conditions
* Transformation: new columns, df.apply(row_processor, axis=1)

Pandas is a most popular Python library for data science.

Pandas is similar to Excel.

A dataframe is a data structure.  It is similar to an Excel sheet.  It has columns and rows.  Columns can have names.  Rows can also have names.

In data science, we often deal with tabular data.  This is why pandas is very popular.

In [1]:
import pandas
iris = pandas.read_csv('../Datasets/iris.csv')

In [2]:
iris.sample(10)  # random data points

     SepalLength  SepalWidth  PetalLength  PetalWidth     Species
82           5.8         2.7          3.9         1.2  versicolor
44           5.1         3.8          1.9         0.4      setosa
124          6.7         3.3          5.7         2.1   virginica
16           5.4         3.9          1.3         0.4      setosa
111          6.4         2.7          5.3         1.9   virginica
58           6.6         2.9          4.6         1.3  versicolor
67           5.8         2.7          4.1         1.0  versicolor
71           6.1         2.8          4.0         1.3  versicolor
3            4.6         3.1          1.5         0.2      setosa
81           5.5         2.4          3.7         1.0  versicolor

### Questions

Question: how many data points are there?

In [3]:
len(iris)

150

Question: how many species are there?

+ view column Species
+ count the unique columns or compute count of each column value.

In [4]:
iris['Species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [5]:
iris['Species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: Species, dtype: int64

Question: average petal length/width?

+ Select each column (a column is a "Series")
+ Select two columns.

In [6]:
iris['PetalLength'].mean()

3.7580000000000005

In [7]:
iris[['PetalLength','PetalWidth']].mean()

PetalLength    3.758000
PetalWidth     1.199333
dtype: float64

What is the difference between these?
+ `iris['PetalLength']`
+  `iris[['PetalLength']]`

In [8]:
iris[['PetalLength']]   # this is a dataframe

     PetalLength
0            1.4
1            1.4
2            1.3
3            1.5
4            1.4
..           ...
145          5.2
146          5.0
147          5.2
148          5.4
149          5.1

[150 rows x 1 columns]

In [9]:
iris['PetalLength']   # this is a series

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: PetalLength, Length: 150, dtype: float64

Question: What does the 10th data point look like?

In [10]:
iris.iloc[9]

SepalLength       4.9
SepalWidth        3.1
PetalLength       1.5
PetalWidth        0.1
Species        setosa
Name: 9, dtype: object

In [11]:
iris.iloc[9]['PetalWidth']

0.1

In [12]:
samples = iris.sample(25)
samples

     SepalLength  SepalWidth  PetalLength  PetalWidth     Species
21           5.1         3.7          1.5         0.4      setosa
116          6.5         3.0          5.5         1.8   virginica
144          6.7         3.3          5.7         2.5   virginica
43           5.0         3.5          1.6         0.6      setosa
126          6.2         2.8          4.8         1.8   virginica
131          7.9         3.8          6.4         2.0   virginica
44           5.1         3.8          1.9         0.4      setosa
76           6.8         2.8          4.8         1.4  versicolor
113          5.7         2.5          5.0         2.0   virginica
96           5.7         2.9          4.2         1.3  versicolor
84           5.4         3.0          4.5         1.5  versicolor
69           5.6         2.5          3.9         1.1  versicolor
88           5.6         3.0          4.1         1.3  versicolor
79           5.7         2.6          3.5         1.0  versicolor
31           5.4         3.4          1.5         0.4      setosa
108          6.7         2.5          5.8         1.8   virginica
6            4.6         3.4          1.4         0.3      setosa
52           6.9         3.1          4.9         1.5  versicolor
34           4.9         3.1          1.5         0.2      setosa
73           6.1         2.8          4.7         1.2  versicolor
65           6.7         3.1          4.4         1.4  versicolor
55           5.7         2.8          4.5         1.3  versicolor
58           6.6         2.9          4.6         1.3  versicolor
51           6.4         3.2          4.5         1.5  versicolor
48           5.3         3.7          1.5         0.2      setosa

* iloc selects the ith item.
* loc select the item with a specific label.

In [13]:
samples.iloc[5]  # the 6th item

SepalLength          7.9
SepalWidth           3.8
PetalLength          6.4
PetalWidth           2.0
Species        virginica
Name: 131, dtype: object

In [15]:
samples.loc[51] # item of index 51

SepalLength           6.4
SepalWidth            3.2
PetalLength           4.5
PetalWidth            1.5
Species        versicolor
Name: 51, dtype: object

In [ ]:
# select items with labels 29, 128, 51
samples.loc[[29,128,51]]

Question: What is the largest species, in terms sepal width?

We can:
+ separate the data into the species and calculate sepal widths for the species.
+ select each species data, and calculate the sepal widths.

At this point, we know how to select using indexes (`iloc`) or labels (`loc`).

We will learn how to select data with "queries".

In [ ]:
setosas = iris[(iris['Species'] == 'setosa')]
versicolor = iris[(iris['Species'] == 'versicolor')]
virginica = iris[(iris['Species'] == 'virginica')]

In [ ]:
setosas['PetalLength'].mean(), versicolor['PetalLength'].mean(), virginica['PetalLength'].mean()

In [ ]:
iris['Species'].unique()

"groupby":
1. We group the data based on a feature/column/variable, and then
2. We aggregate the data in each group in some way.

In [ ]:
iris.groupby('Species').mean()

We have two new techniques:
+ Constructing a query
+ Grouping data and aggregating data

**Exercise 1**

In [ ]:
#PID:2
# Load the "tips" dataset into a Pandas Data Frame. 
# Select the 'total_bill' and 'tip' columns using bracket notation. 
# Then, select the first 10 rows of the dataset using the .iloc method

Question:

In [ ]:
iris.groupby('Species').agg(['mean','std']).round(1)

In [ ]:
iris.sample(5)

Question: which features distinguish the species?

### Visualizations

In [7]:
import pandas
import seaborn
iris = pandas.read_csv('../Datasets/iris.csv')

iris.sample(3)

     SepalLength  SepalWidth  PetalLength  PetalWidth     Species
33           5.5         4.2          1.4         0.2      setosa
131          7.9         3.8          6.4         2.0   virginica
99           5.7         2.8          4.1         1.3  versicolor

In [11]:
seaborn.catplot(data=iris,x='Species',y='SepalLength', kind='box', height=3)