In [1]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.decomposition import PCA
import seaborn
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas
abalone = pandas.read_csv('../Datasets/abalone.csv')
abalone.sample(3)

,Sex,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings
1560,I,0.435,0.325,0.110,0.3670,0.1595,0.0800,0.105,6
545,M,0.320,0.245,0.075,0.1555,0.0585,0.0380,0.049,11
846,F,0.540,0.420,0.140,0.8050,0.3690,0.1725,0.210,11

In [4]:
abalone = pandas.get_dummies(abalone)

In [6]:
abalone.sample(2)

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Sex_F,Sex_I,Sex_M
1518,0.67,0.545,0.200,1.7025,0.833,0.3740,0.410,11,0,0,1
3689,0.63,0.505,0.195,1.3060,0.516,0.3305,0.375,9,1,0,0

In [7]:
normalized_abalone = pandas.DataFrame(
    MinMaxScaler().fit_transform(abalone).round(4),
    columns = abalone.columns
)

normalized_abalone.sample(2)

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Sex_F,Sex_I,Sex_M
3411,0.4797,0.4454,0.0885,0.1358,0.1284,0.0974,0.0982,0.2143,0.0,1.0,0.0
2601,0.7297,0.7479,0.1460,0.4693,0.4028,0.3963,0.3523,0.3214,1.0,0.0,0.0

In [9]:
standardized_abalone = pandas.DataFrame(
    StandardScaler().fit_transform(abalone).round(4),
    columns = abalone.columns
)

standardized_abalone.sample(2)

,Length,Diameter,Height,Whole weight,Shucked weight,Viscera weight,Shell weight,Rings,Sex_F,Sex_I,Sex_M
796,0.0500,0.0214,0.3702,-0.2310,-0.3554,-0.1103,-0.1784,0.3308,-0.6748,-0.688,1.3167
1739,1.2576,1.1803,0.4898,0.9275,0.9581,0.8659,0.8310,0.9512,-0.6748,-0.688,1.3167

In [10]:
from sklearn.model_selection import ShuffleSplit
from sklearn.metrics import accuracy_score
from sklearn.dummy import DummyClassifier

from sklearn.model_selection import cross_validate

## Validators:

In [ ]:
    
kf = KFold(n_splits=50)

ss = ShuffleSplit(n_splits=100, test_size=0.05)

## Dummy Classifier

In [11]:
from sklearn.dummy import DummyClassifier


dummy_clf = DummyClassifier(strategy="stratified")

#dummy_clf.fit(X_train, y_train)

### Precision: 
- Precision measures the accuracy of the positive predictions made by the model.

### Recall: 
- Recall measures the ability of the model to correctly identify all positive instances.

In [14]:
hello= 3

hello

3