In [76]:
import requests
url = 'https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/0e7a9b0a5d22642a06d3d5b9bcbad9890c8ee534/iris.csv'
page = requests.get(url)

In [77]:
#print(page.text)

In [78]:
page.text[0:200]

'sepal_length,sepal_width,petal_length,petal_width,species\n5.1,3.5,1.4,0.2,setosa\n4.9,3.0,1.4,0.2,setosa\n4.7,3.2,1.3,0.2,setosa\n4.6,3.1,1.5,0.2,setosa\n5.0,3.6,1.4,0.2,setosa\n5.4,3.9,1.7,0.4,setosa\n4.6,'

In [79]:
datanew= page.text.split('\n')

In [80]:
datanew[0:5]

['sepal_length,sepal_width,petal_length,petal_width,species',
 '5.1,3.5,1.4,0.2,setosa',
 '4.9,3.0,1.4,0.2,setosa',
 '4.7,3.2,1.3,0.2,setosa',
 '4.6,3.1,1.5,0.2,setosa']

In [81]:
columns= datanew.pop(0)

columns

'sepal_length,sepal_width,petal_length,petal_width,species'

In [82]:
datanew[0:3]

['5.1,3.5,1.4,0.2,setosa', '4.9,3.0,1.4,0.2,setosa', '4.7,3.2,1.3,0.2,setosa']

In [83]:
versicolor=[]

for item in datanew:
    if item.endswith("versicolor"):
        versicolor.append(item)
versicolor[0:5]

['7.0,3.2,4.7,1.4,versicolor',
 '6.4,3.2,4.5,1.5,versicolor',
 '6.9,3.1,4.9,1.5,versicolor',
 '5.5,2.3,4.0,1.3,versicolor',
 '6.5,2.8,4.6,1.5,versicolor']

In [84]:
len(versicolor)

50

### Get each versicolor data in lists

In [85]:
versicolor2=[]
temp=[]
for data in versicolor:
    temp=data.split(",")
    versicolor2.append(temp)

versicolor2[0:5]    

# temp= versicolor[0].split(",")

versicolor2[0]

['7.0', '3.2', '4.7', '1.4', 'versicolor']

In [86]:
datanew[0:5]

['5.1,3.5,1.4,0.2,setosa',
 '4.9,3.0,1.4,0.2,setosa',
 '4.7,3.2,1.3,0.2,setosa',
 '4.6,3.1,1.5,0.2,setosa',
 '5.0,3.6,1.4,0.2,setosa']

### Getting all data in lists:

In [87]:
alldata= []
temp=[]
for item in datanew:
    temp=item.split(",")
    alldata.append(temp)
    
alldata[0:5]

[['5.1', '3.5', '1.4', '0.2', 'setosa'],
 ['4.9', '3.0', '1.4', '0.2', 'setosa'],
 ['4.7', '3.2', '1.3', '0.2', 'setosa'],
 ['4.6', '3.1', '1.5', '0.2', 'setosa'],
 ['5.0', '3.6', '1.4', '0.2', 'setosa']]

In [88]:
sepal_len, sepal_wid, petal_len, petal_wid= ([] for i in range(4))

# for data in alldata:
#     sepal_len.append(data[0])
#     sepal_wid.append(data[1])
#     petal_len.append(data[2])
#     petal_wid.append(data[3])
    
# print(petal_len)
alldata[-5:]

[['6.3', '2.5', '5.0', '1.9', 'virginica'],
 ['6.5', '3.0', '5.2', '2.0', 'virginica'],
 ['6.2', '3.4', '5.4', '2.3', 'virginica'],
 ['5.9', '3.0', '5.1', '1.8', 'virginica'],
 ['']]

In [89]:
alldata.pop(-1)

['']

In [90]:
alldata[0:5]

[['5.1', '3.5', '1.4', '0.2', 'setosa'],
 ['4.9', '3.0', '1.4', '0.2', 'setosa'],
 ['4.7', '3.2', '1.3', '0.2', 'setosa'],
 ['4.6', '3.1', '1.5', '0.2', 'setosa'],
 ['5.0', '3.6', '1.4', '0.2', 'setosa']]

In [91]:
flowers={}

for item in alldata:
    species= item.pop()
    item= [ float(x) for x in item]
    if species in flowers.keys():
        flowers[species].append(item)
    else:
        flowers[species]= item

flowers.keys()

dict_keys(['setosa', 'versicolor', 'virginica'])

In [98]:
dictest= [1,1,2,3,4,5,6,6,6]

count={}

for item in dictest:
    if item not in count:
        count[item]=1
    else:
        count[item]+=1
    
count[6]

3

In [95]:
flowers['setosa']

[5.1,
 3.5,
 1.4,
 0.2,
 [4.9, 3.0, 1.4, 0.2],
 [4.7, 3.2, 1.3, 0.2],
 [4.6, 3.1, 1.5, 0.2],
 [5.0, 3.6, 1.4, 0.2],
 [5.4, 3.9, 1.7, 0.4],
 [4.6, 3.4, 1.4, 0.3],
 [5.0, 3.4, 1.5, 0.2],
 [4.4, 2.9, 1.4, 0.2],
 [4.9, 3.1, 1.5, 0.1],
 [5.4, 3.7, 1.5, 0.2],
 [4.8, 3.4, 1.6, 0.2],
 [4.8, 3.0, 1.4, 0.1],
 [4.3, 3.0, 1.1, 0.1],
 [5.8, 4.0, 1.2, 0.2],
 [5.7, 4.4, 1.5, 0.4],
 [5.4, 3.9, 1.3, 0.4],
 [5.1, 3.5, 1.4, 0.3],
 [5.7, 3.8, 1.7, 0.3],
 [5.1, 3.8, 1.5, 0.3],
 [5.4, 3.4, 1.7, 0.2],
 [5.1, 3.7, 1.5, 0.4],
 [4.6, 3.6, 1.0, 0.2],
 [5.1, 3.3, 1.7, 0.5],
 [4.8, 3.4, 1.9, 0.2],
 [5.0, 3.0, 1.6, 0.2],
 [5.0, 3.4, 1.6, 0.4],
 [5.2, 3.5, 1.5, 0.2],
 [5.2, 3.4, 1.4, 0.2],
 [4.7, 3.2, 1.6, 0.2],
 [4.8, 3.1, 1.6, 0.2],
 [5.4, 3.4, 1.5, 0.4],
 [5.2, 4.1, 1.5, 0.1],
 [5.5, 4.2, 1.4, 0.2],
 [4.9, 3.1, 1.5, 0.1],
 [5.0, 3.2, 1.2, 0.2],
 [5.5, 3.5, 1.3, 0.2],
 [4.9, 3.1, 1.5, 0.1],
 [4.4, 3.0, 1.3, 0.2],
 [5.1, 3.4, 1.5, 0.2],
 [5.0, 3.5, 1.3, 0.3],
 [4.5, 2.3, 1.3, 0.3],
 [4.4, 3.2, 1.3, 0.2],
 [5.0, 3.5, 1.6, 0.6],
 [5.1, 3.8, 1.9, 0.4],
 [4.8, 3.0, 1.4, 0.3],
 [5.1, 3.8, 1.6, 0.2],
 [4.6, 3.2, 1.4, 0.2],
 [5.3, 3.7, 1.5, 0.2],
 [5.0, 3.3, 1.4, 0.2]]

In [32]:
ll=[2,3,1,5]

ll.pop()
print(ll)

[2, 3, 1]

In [16]:
sepal_len, sepal_wid, petal_len, petal_wid= ([] for i in range(4))


for data in alldata:
    sepal_len.append(data[0])
    sepal_wid.append(data[1])
    petal_len.append(data[2])
    petal_wid.append(data[3])

petal_wid= [float(x) for x in petal_wid]    
print(petal_wid)

[0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2, 0.2, 0.1, 0.1, 0.2, 0.4, 0.4, 0.3, 0.3, 0.3, 0.2, 0.4, 0.2, 0.5, 0.2, 0.2, 0.4, 0.2, 0.2, 0.2, 0.2, 0.4, 0.1, 0.2, 0.1, 0.2, 0.2, 0.1, 0.2, 0.2, 0.3, 0.3, 0.2, 0.6, 0.4, 0.3, 0.2, 0.2, 0.2, 0.2, 1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, 1.4, 1.0, 1.5, 1.0, 1.4, 1.3, 1.4, 1.5, 1.0, 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7, 1.5, 1.0, 1.1, 1.0, 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2, 1.4, 1.2, 1.0, 1.3, 1.2, 1.3, 1.3, 1.1, 1.3, 2.5, 1.9, 2.1, 1.8, 2.2, 2.1, 1.7, 1.8, 1.8, 2.5, 2.0, 1.9, 2.1, 2.0, 2.4, 2.3, 1.8, 2.2, 2.3, 1.5, 2.3, 2.0, 2.0, 1.8, 2.1, 1.8, 1.8, 1.8, 2.1, 1.6, 1.9, 2.0, 2.2, 1.5, 1.4, 2.3, 2.4, 1.8, 1.8, 2.1, 2.4, 2.3, 1.9, 2.3, 2.5, 2.3, 1.9, 2.0, 2.3, 1.8]

### Create a dataframe with the data types

In [66]:
dataframe={}


dataframe['sepal_length']= sepal_len
dataframe['sepal_width']= sepal_wid
dataframe['petal_length']= petal_len
dataframe['petal_width']= petal_wid

In [67]:
dataframe.keys()

dict_keys(['sepal_length', 'sepal_width', 'petal_length', 'petal_width'])

In [69]:
type(dataframe['sepal_width'])

list

In [57]:
dframe={}
type(dframe)
sepal_len = []

for item in versicolor2:
    sepal_len.append(item[0])

sepal_len[0:10]    

dframe['sepal_length'] = sepal_len

dframe['sepal_length']

['7.0',
 '6.4',
 '6.9',
 '5.5',
 '6.5',
 '5.7',
 '6.3',
 '4.9',
 '6.6',
 '5.2',
 '5.0',
 '5.9',
 '6.0',
 '6.1',
 '5.6',
 '6.7',
 '5.6',
 '5.8',
 '6.2',
 '5.6',
 '5.9',
 '6.1',
 '6.3',
 '6.1',
 '6.4',
 '6.6',
 '6.8',
 '6.7',
 '6.0',
 '5.7',
 '5.5',
 '5.5',
 '5.8',
 '6.0',
 '5.4',
 '6.0',
 '6.7',
 '6.3',
 '5.6',
 '5.5',
 '5.5',
 '6.1',
 '5.8',
 '5.0',
 '5.6',
 '5.7',
 '5.7',
 '6.2',
 '5.1',
 '5.7']

### Task: Select all iris flowers with petal lengths within 5% of the largest.

In [1]:
import pandas as pd

iris= pd.read_csv("../Datasets/iris.csv")

In [2]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth Species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [3]:
max_plen= iris['PetalLength'].max()

highval= 0.95*max_plen
highval

6.555

In [4]:
plendata= iris[iris["PetalLength"]>highval]

In [5]:
plendata

     SepalLength  SepalWidth  PetalLength  PetalWidth    Species
105          7.6         3.0          6.6         2.1  virginica
117          7.7         3.8          6.7         2.2  virginica
118          7.7         2.6          6.9         2.3  virginica
122          7.7         2.8          6.7         2.0  virginica

Formulate:
+ Class A = people who spend more than average on bill, and tip more than average.

In [6]:
tips= pd.read_csv("../Datasets/tips.csv")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [7]:
more_bill= tips['total_bill'].mean()

more_tip= tips['tip'].mean()

In [8]:

def Classyppl(rowdata):
    if (rowdata['total_bill']> more_bill) & (rowdata['tip']> more_tip):
        return True
    else:
        return False
    
tips['Class_A']= tips.apply(Classyppl, axis=1)

tips.head()

   total_bill   tip     sex smoker  day    time  size  Class_A
0       16.99  1.01  Female     No  Sun  Dinner     2    False
1       10.34  1.66    Male     No  Sun  Dinner     3    False
2       21.01  3.50    Male     No  Sun  Dinner     3     True
3       23.68  3.31    Male     No  Sun  Dinner     2     True
4       24.59  3.61  Female     No  Sun  Dinner     4     True

### Question: What is the largest species, in terms sepal width?

In [10]:
iris.groupby("Species")[['SepalWidth']].mean()

            SepalWidth
Species
setosa           3.428
versicolor       2.770
virginica        2.974

### What is the average tip amount for each day?

In [11]:
tips.groupby("day")[["tip"]].mean()

           tip
day
Fri   2.734737
Sat   2.993103
Sun   3.255132
Thur  2.771452

In [12]:
tips['tip_percentage']= (tips['tip']/tips['total_bill'])*100

tips.head()

   total_bill   tip     sex smoker  day    time  size  Class_A  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2    False        5.944673
1       10.34  1.66    Male     No  Sun  Dinner     3    False       16.054159
2       21.01  3.50    Male     No  Sun  Dinner     3     True       16.658734
3       23.68  3.31    Male     No  Sun  Dinner     2     True       13.978041
4       24.59  3.61  Female     No  Sun  Dinner     4     True       14.680765

In [17]:
tips['tip_percentage']=tips['tip_percentage'].round(2)

In [18]:
tips.head()

   total_bill   tip     sex smoker  day    time  size  Class_A  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2    False            5.94
1       10.34  1.66    Male     No  Sun  Dinner     3    False           16.05
2       21.01  3.50    Male     No  Sun  Dinner     3     True           16.66
3       23.68  3.31    Male     No  Sun  Dinner     2     True           13.98
4       24.59  3.61  Female     No  Sun  Dinner     4     True           14.68

### Which gender gives more tips?

In [21]:
tips.groupby("sex")[['tip_percentage','tip']].mean()

        tip_percentage       tip
sex
Female       16.648276  2.833448
Male         15.764713  3.089618

Define a custom function to calculate the range (difference between max and min) of 'mpg' values for each 'cylinders' group.

Use this custom function in a groupby operation to calculate the 'mpg' range for each 'cylinders' group and display the results.

In [24]:
autompg= pd.read_csv("../Datasets/auto-mpg.csv")
autompg.sample(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
381,36.0,4,107.0,75,2205,14.5,82,3,honda accord
352,29.9,4,98.0,65,2380,20.7,81,1,ford escort 2h
200,18.0,6,250.0,78,3574,21.0,76,1,ford granada ghia

In [28]:
def cylinderrange():
    
    rangedata= autompg.groupby("cylinders")[['mpg']].agg(['max','min'])


    rangedata['range']= rangedata['mpg']['max'] - rangedata['mpg']['min']

    return rangedata

cylinderrange()

            mpg       range
            max   min
cylinders
3          23.7  18.0   5.7
4          46.6  18.0  28.6
5          36.4  20.3  16.1
6          38.0  15.0  23.0
8          26.6   9.0  17.6

Problem 8

Select and display vehicles that are above the 75th percentile in 'mpg' within their respective 'cylinder' category.

In [32]:
autompg.groupby("cylinders").apply(lambda data: data[data['mpg']> data['mpg'].quantile(.75)])

                mpg  cylinders  displacement horsepower  weight  acceleration  \
cylinders
3         334  23.7          3          70.0        100    2420          12.5
4         54   35.0          4          72.0         69    1613          18.0
          218  36.0          4          79.0         58    1825          18.6
          220  33.5          4          85.0         70    1945          16.8
          238  33.5          4          98.0         83    2075          15.9
...             ...        ...           ...        ...     ...           ...
8         291  19.2          8         267.0        125    3605          15.0
          292  18.5          8         360.0        150    3940          13.0
          298  23.0          8         350.0        125    3900          17.4
          300  23.9          8         260.0         90    3420          22.2
          364  26.6          8         350.0        105    3725          19.0

               model year  origin                              car name
cylinders
3         334          80       3                         mazda rx-7 gs
4         54           71       3                           datsun 1200
          218          77       2                         renault 5 gtl
          220          77       3                 datsun f-10 hatchback
          238          77       1                        dodge colt m/m
...                   ...     ...                                   ...
8         291          79       1         chevrolet malibu classic (sw)
          292          79       1  chrysler lebaron town @ country (sw)
          298          79       1                     cadillac eldorado
          300          79       1     oldsmobile cutlass salon brougham
          364          81       1                 oldsmobile cutlass ls

[95 rows x 9 columns]

In [1]:
import pandas 
from sklearn.preprocessing import MinMaxScaler,StandardScaler
%matplotlib inline

In [2]:
data= pandas.read_csv("../Datasets/iris.csv")
data.sample()

     SepalLength  SepalWidth  PetalLength  PetalWidth    Species
104          6.5         3.0          5.8         2.2  virginica

In [3]:
data= data.drop(columns=['Species'])

In [5]:
data.sample(3)

     SepalLength  SepalWidth  PetalLength  PetalWidth
72           6.3         2.5          4.9         1.5
133          6.3         2.8          5.1         1.5
141          6.9         3.1          5.1         2.3

In [5]:
TN=0
FN=0
FP=0
TP=0

zipped_list = [(0, 0) ,(0, 0) ,(1, 0) ,(1, 0) ,(0, 0) ,(0, 1) ,(0, 0) ,(0, 0) ,(1, 1) ,(0, 0) ,(1, 0) ,(0, 0) ,(0, 0), (0, 1) ,(0, 0) ,(0, 0) ,(1, 0) ,(1, 0) ,(0, 1) ,(1, 0) ,(1, 0) ,(1, 1), (0, 0), (1, 1)]

# Using a loop to extract items
for item in zipped_list:
    first_item, second_item = item
    if first_item==0 and second_item==0:
        TN+=1
    elif first_item==1 and second_item==0:
        FN+=1    
    elif first_item==0 and second_item==1:
        FP+=1
    else:
        TP+=1
        
print(f"true_pos: {TP} , true_neg: {TN} , false_pos: {FP} , false_neg: {FN}")

true_pos: 3 , true_neg: 11 , false_pos: 3 , false_neg: 7