# COMP 7150 Midterm Exam

WRITE YOUR NAME HERE: ____

---

The instructor will explictly review these policies at the beginning of the exam. If you have questions about the exam policy, you must ask the instructor for clarification.

Exam policy:
+ You may view materials that are available on Canvas.
+ To analyze or visualize data, you may only use code that we have discussed in this course.  Using code or methods that have not been taught is considered cheating.  There are exceptions that I may allow. But you will have to get approvals from me first. 
+ You may not view other materials (code/methodologies/etc.) from other sources. You may not get help from anyone other than the instructor. A violation is considered cheating.  Cheating results in failing the course (getting an F).

Grading policy: to get most of the points on each problem, follow this guidline:
+ If the problem ask question(s), you must answer the question(s) in English.  Further, you will need perform an analysis to justify your answer.
+ Your analysis consists of code and possibly reasoning to support your answer.
+ If I ask for specific types of analyses or procedures, to get points, you have to use those.  If I do not ask for specific technical procedures, you are open to use anything we've discussed in this course.

There are 9 questions.  Each is worth 12 points.  Anything over 100 points is bonus.

---

In this exam, you will use the "Mall_Customers" dataset.

In [46]:
import pandas

customers = pandas.read_csv('../Datasets/Mall_Customers.csv')
customers.sample(2)

     CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
99          100    Male   20                  61                      49
180         181  Female   37                  97                      32

---

**Problem 1**

Visualize the distribution of annual incomes.

---

**Problem 2**

Is the distribution of annual incomes normal?  Explain both visually and by using a statistical test.

---

**Problem 3**

What is the test hypothesis of the t-test?  Explain your conclusion when a t-test between two series A and B returns a p-value of 0.003.

---

**Problem 4**

Create a dataframe that contains all data points with gender "Male", and another dataframe that contains all data points with gender "Female".

---

**Problem 5**

Is there a significant difference between males' and females' annual incomes?

---

**Problem 6**

Given this dataframe:
```python
customers = pandas.read_csv('../Datasets/Mall_Customers.csv')
```

Create a new column in this dataframe called `income_class`, based on this definition:
+ `low` - if the annual income is less than 40k.
+ `middle` - if the annual income is between 40k and 70k.
+ `high` - if the annual income is more than 70k.

---

**Problem 7**

A person with a high spending score more likely spends the money to buy things.  The average spending scores of low-income, middle-income, and high-income people are actually very similar (around 50).

But there are similarities and differences beyond this average value.

Compare the similarities and differences in spending between these three groups of people.

---

**Problem 8**

This code will group the data into 5 different clusters, based on age and spending score.

```python
from sklearn.cluster import KMeans
model = KMeans(n_clusters=5, random_state=2024)
X = customers[['Age','Spending Score (1-100)']]
model.fit(X)
```

Show that incomes of the people in clusters 1 and 4 are very similar.

---

**Problem 9**

Suppose you need to provide business analytics to a company, do you recommend your company to attract people in cluster 1 or cluster 4?